:root{
    --primary-color: #E8E8E8;
    --background-color-: #224864;
    --section-one-justify-content: center;
    --section-one-height-blocks: 15vh;
    --section-one-width-blocks: auto;
    --section-one-font-size-h1:52px;
    --text-aligh-h1-h6: start;
    --aligh-bottom: center;
    --aligh-bottom-justify-content: baseline;
    --height-bottom-enter: 8vh;
    --widht-bottom-enter: 12rem;
    --height-img-logo: 10vh;
    --input-date-width: 35vw;
    --input-date-height: 27vh;
    --input-width: 31vw; 
    --input-height: 4vh;   
    --font-size-placeholder: 2vh;
    --border-width-buttons: 0.2rem;
    --font-size-buttons: 3vh;
    --font-family: 'Inter', sans-serif;
}

body{
    font-family: var(--font-family);
    background-color: var(--background-color-);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box !important;
    width: 100%;
}

/* Esqueleto da página */

.section-all{
    margin: 0;
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 100vh;
    grid-template-areas:
    "Section Section";
}

.section-all section:nth-child(1){ 
    line-height: 7vh;
    background-color: var(--background-color-);
    display: flex;
    justify-content: var(--section-one-justify-content);
    align-items: center;
    height: auto;
}

.section-all section:nth-child(2){
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

/*SEÇÃO 1 - BOAS VINDAS */
.content-section{
    height: 70vh;
    width: 28vw;
    display: grid;
    grid-template-columns: auto;
}

.content-section div:nth-child(1){
    height: var(--section-one-height-blocks);
    width: 42vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*SESSÃO 2 - login*/
.content-section-02{
    background-color: var(--primary-color);  
    height:60vh;
    width: 45vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh 10vh 10vh 15vh;
    grid-template-areas:
    "div"
    "div"
    "div"
    "div";
}
.content-section-02 div:nth-child(1){
    color: var(--background-color-);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.content-section-02 div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-section-02 div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-section-02 div:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Section 1: tela de boas-vindas*/
#img-logo{
    height: 140px;
    width: 159px;
}


/* Section 2: tela de cadastro*/
.content-section-02 div:nth-child(4) button{
    height: var(--height-bottom-enter);
    width: var(--widht-bottom-enter);
    border-style: solid;
    border-radius: 14px;
    border-width: var(--border-width-buttons);
    font-size: var(--font-size-buttons);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #153d5a00;
    color: var(--background-color-);
    border-color: var(--background-color-);
}

.content-section-02 div:nth-child(4) button:hover{
    transition: 1s;
    background-color: rgba(49, 49, 49, 0.185);
    cursor: pointer;
    scale: 1.02;
}

.input-date{
    height: 7vh;
    background-color:  #C9D9E2;
    border-radius: 16px;
    width: var(--input-date-width);
}

.content-section-02 div input::placeholder{
    letter-spacing: 0.5px;
    font-size: var(--font-size-placeholder);
}

.content-section-02 div input{
    width: var(--input-width);
    border: none;
    outline: none;
    height: var(--input-height);
    padding-left: 0.5rem;
    background-color: #153d5a00;
}
.material-icons{
    color: #0000009c;
}


/* responsividade da página */

@media (max-width: 1200px)and (min-width: 550px){
    .section-all{
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;    
        grid-template-rows: 20vh 80vh;
        grid-template-areas:
        "Section"
        "Section";
    }
    
    .section-all section:nth-child(1){
        width: 100%;
        line-height: 7vh;
        background-color: var(--background-color-);
        display: flex;
        justify-content: var(--section-one-justify-content);
        align-items: center;
        height: auto;
    }
    
    .section-all section:nth-child(2){
        border-radius: 40px 40px 0px 0px;
        width: 100%;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .content-section{
        height: 20vh;
        width: 100%;
    }
    
    .content-section div:nth-child(1){
        height: auto;
        width: 100%;
    }

    /*SESSÃO 2 - login*/
.content-section-02{ 
    width: 100%;
}


/* Section 1: tela de boas-vindas*/
#img-logo{
    height: 140px;
    width: 140px;
}

:root{
    --height-bottom-enter: 8vh;
    --widht-bottom-enter: 12rem;
    --height-img-logo: 5vh;
    --input-date-width: 90vw;
    --input-date-height: 25vh;
    --input-width: 80vw; 
    --input-height: 8vh;   
    --font-size-placeholder: 2vh;
    --border-width-buttons: 0.2rem;
    --font-size-buttons: 3vh;

}
}

@media screen and (max-width: 550px){
    .section-all{
        width: 100%;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: auto;    
        grid-template-rows: 20vh 80vh;
        grid-template-areas:
        "Section"
        "Section";
    }
    .section-all section:nth-child(1){
        width: 100%;
        line-height: 7vh;
        background-color: var(--background-color-);
        display: flex;
        justify-content: var(--section-one-justify-content);
        align-items: center;
        height: auto;
    }
    
    .section-all section:nth-child(2){
        border-radius: 40px 40px 0px 0px;
        width: 100%;
        background-color: var(--primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .content-section{
        height: 20vh;
        width: 100%;
    }
    
    .content-section div:nth-child(1){
        height: auto;
        width: 100%;
    }

    /*SESSÃO 2 - login*/
.content-section-02{ 
    width: 100%;
}


/* Section 1: tela de boas-vindas*/
#img-logo{
    height: 140px;
    width: 140px;
}

:root{
    --height-bottom-enter: 8vh;
    --widht-bottom-enter: 12rem;
    --height-img-logo: 5vh;
    --input-date-width: 80vw;
    --input-date-height: 25vh;
    --input-width: 65vw; 
    --input-height: 8vh;   
    --font-size-placeholder: 2vh;
    --border-width-buttons: 0.2rem;
    --font-size-buttons: 3vh;
}
}
