:root{
    --primary-color: #E8E8E8;
    --background-color-: #224864;
    --text-aligh-h1-h6: start;
    --input-date-width: 35vw;
    --input-date-height: 27vh;
    --input-width: 31vw; 
    --input-height: 4vh;   
    --font-size-placeholder: 2vh;
    --font-size-buttons: 3vh;
    --font-family: 'Inter', sans-serif;
}

body{
    font-family: var(--font-family);
    background-color: var(--background-color-);
    padding: 0px;
    margin: 0px;
    box-sizing: border-box !important;
    width: 100%;
}

/*Definição da estrutura da pagina*/
.section-all{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15vh auto;
    grid-template-areas: 
    "info"
    "main";
}
.section-all section:nth-child(1){ /*define titulo*/
    background-color: var(--background-color-);
    display: flex;
    justify-content: center;
    align-content: center;
}
.section-all section:nth-child(2){ /*o restante da page*/
    background-color: #ffff;
    border-radius: 40px 40px 0 0;
    padding-left: 3vh;
    padding-right: 3vh;
    display: grid;
    justify-content: center;
    align-content: start;
}

/*estrutura do titulo*/
.shopping-cart{
    width: 90vw;
    display: grid;
    place-content: center;
    align-self: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "img text";
}
.shopping-cart a:nth-child(1){
    grid-area: img;
    align-self: center;
    justify-self: center;
    margin-right: 2vh;
    height: 50px;
}
.shopping-cart h1:nth-child(2){
    color: #ffff;
    font-size: 32px;
    font-weight: 600;
    grid-area: text;
    align-self: center;
    justify-self: center;
}

/*Estruturas da tabela*/
table {
    width: 90vw;
    border-collapse: collapse;
    font-family: Inter;
    font-size: 16px;
    line-height: 40px;
    text-align: left;  
  }
  table th{
    font-weight: 600;
    color: #000000;    
  }

  /*Estruturas dos itens adicionados*/
  table td{
    font-weight: 500;
    color: #7A7786;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    line-height: 5vh;
  }
  table td.nome{
    line-height: 2vh;
  }
  table .material-icons{
    color: #224864;
    font-size: 15px;
  }

  /**/
.total-compra{
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    width:174px;
    height: 48px;
    padding-left: 15px;
}
.content-main div:nth-child(3){
    height: 15vh;
}

/*Estilização dos botões para forma de pagamento*/
.button-pay{
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 10vh;
    grid-template-areas: 
    "title title title"
    "one two tree"
    "pay pay pay";
}
.button-pay h3:nth-child(1){
    grid-area: title;
}
.button-pay button:nth-child(2){
    grid-area: one;
    justify-self: start;
}
.button-pay button:nth-child(3){
    grid-area: two;
    justify-self:center;
}
.button-pay button:nth-child(4){
    grid-area: tree;
    justify-self: end;
}
.button-pay button:nth-child(5){
    grid-area: pay;
    width: 175px;
    height: 46px;
    justify-self: center;
    border-radius: 10px;
    background-color: var(--background-color-);
    color:#ffff;
    margin-bottom: 15vh;
    border:none;
    font-weight: 700;
    font-size: 16px;
}
button.pay{
    width: 106px;
    height: 47px;
    border: 1px solid #224864;
    border-radius: 10px    ;
    background-color: #ffff;
    color:#7A7786;
}
button:hover{
    cursor: pointer;
    scale: 1.01;
    background-color: #000000;
    color: #ffff;
}

/*Para garantir que o menu e o card de total não sobreponha conteúdo*/
.produtos .tamanho{
    height: 3vh;
}

/*Estilização de texto/botão/logo*/
.shopping-cart .material-icons{
    font-size: 50px;
    color: #ffff;
   
}
a{
    color: #7A7786;
    text-decoration: none;  
   
}
h2{
    font-size: 20px;
}